# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
terraform.tfvars.json
crash.log
crash.*.log
.terraform.lock.hcl
# Ignore .tofu files (if you're using tofu)
*.tofu

# Various other common files and directories
.DS_Store
*.log
*.out
*.swp
*~
